{% extends "template.njk" %}

{% block content %}
        <div class="content">
            <div class="centerbox">
                <div class="left">
                    <h1>Hey, I'm Christophe</h1>
                    <p>I'm a software developer / geek / hacker wannabe. I love playing around with arduino's 
                    and raspberry pi's. I wish I was a good photographer.</p>
                    <ul>
                        <li>➤ <a href="/gallery/">See my photo gallery</a></li>
                        <li>➤ <a href="/blog/">See my blog, {{ collections.blog.length}} posts so far</a></li>
                    </ul>
                </div>
                <div class="right">
            <img src="https://gravatar.com/avatar/5b4fa9750440185fd1c061a507153759?s=128" alt="gravatar" />
                </div>
            </div>
        </div>
{% endblock %}        
