<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-reboot.min.css" rel="stylesheet">
        <link href="/css/chrm.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="logo"><img src="/images/chrm.png" alt="website logo" /></div>
            <div class="title long">christophemaillot.fr</div>
            <div class="title short">chrm.fr</div>
            <div class="navmenu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/gallery">Photo Gallery</a></li>
                <ul>
            </div>
        </div>

        <div class="content">
{% block content %}
{% endblock %}            
        </div>

        <div class="footer">
            <ul>
                <li><a href="https://twitter.com/f4hbz">I'm on twitter (@f4hbz)</a></li>
                <li><a href="/usage">conditions d'utilisation (fr)</a></li>
            <ul>
        </div>

    </div>
</div>
 
</body>
</html>